.f-container {
  padding-block: 90px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: aqua; */
  margin-bottom: 0px;
  overflow: hidden;
}

.mybutton {
  background-color: red;
  color: white; /* Optional: For text color */
  padding: 10px 20px; /* Optional: For padding */
  border: none; /* Optional: Remove border */
  border-radius: 5px; /* Optional: For rounded corners */
  cursor: pointer; /* Optional: To change the cursor on hover */
}

.video {
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.form-form-right {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  color: black !important;
  width: 600px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.form-head {
  font-size: 20px;
  color: var(--primary-color);
  width: 100%;
}

.form-title {
  width: 100%;

  font-size: 30px;
  font-weight: bold;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.two-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

textarea {
  resize: none;
}

.form-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  width: max-content;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .evolution-container {
    height: 100vh;
  }
  .evolution-head {
    font-size: 40px;
  }

  .evolution-left {
    padding-top: 30px;
    padding: 20px;
    justify-content: center;
  }

  .evolution-content {
    justify-content: center;
  }

  .evolution-right {
    padding: 20px;
    margin-right: 0px;
  }
  .form {
    align-items: center;
  }
  .input {
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .evolution-left {
    width: 50%;
  }
  .evolution-right {
    width: 40%;
  }
  .evolution-head {
    font-size: 30px;
  }
  .evolution-txt {
    line-height: 18px;
  }
}
@media (max-width: 750px) {
  .evolution-container {
    height: 120vh;
  }

  .evolution-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .evolution-left,
  .evolution-right {
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .evolution-head {
    font-size: 30px;
  }

  .evolution-txt {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
  }
}
@media (max-width: 450px) {
  .evolution-container {
    height: 120vh;
  }

  .evolution-content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .evolution-left {
    padding-inline: 10px;
  }

  .evolution-head {
    font-size: 20px;
  }

  .evolution-txt {
    font-size: 12px;
  }

  .evolution-right {
    margin-right: 0px;
    margin-top: 20px;
    padding-block: 20px;
    padding: 20px;
  }

  .form-inputs {
    width: 97%;
  }

  .input {
    padding: 8px 10px;
  }
  .two-items {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
}
