.collab-container {
  background-color: rgb(249, 221, 228);
  background-image: url("../../assets/why-choose__home-overly.png");
  object-fit: cover;
  height: auto;
  padding: 100px 30px;
  font-family: sans-serif;
}

.collab-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: var(--primary-color);
}

.collab-head {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: auto;
  align-items: center;
}

.collab-head-left {
  font-weight: bold;
  color: var(--black-color);
  font-size: 40px;
}

.collab-head-right {
  font-size: 40px;
  color: var(--black-color);
  opacity: 0.8;
}

.collab-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: row dense;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 200px;
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
}

.card img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.5s ease-in-out; /* Add a transition effect */
}

.card:hover img {
  transform: scale(1.2); /* Increase the size of the image by 20% */
}

@media (max-width: 1350px) {
  .card {
    width: 150px;
  }

  .collab-head {
    display: block;
  }
}
@media (max-width: 1200px) {
  .card {
    width: 120px;
    height: 80px;
  }
}
@media (max-width: 800px) {
  .collab-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .collab-head {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .collab-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .collab-head {
    text-align: center;
  }
}
