#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Make sure the video is behind the content */
}

.hero-section {
  background-color: black;
  /* height: 100vh; */
  height: auto;
  width: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  gap: 20px;

  position: relative;
  margin-top: 90px;
  color: var(--secondary-color);
}

.left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 80px;
  justify-content: center;
  gap: 40px;
  color: var(--secondary-color);
}

.left .name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding-left: 15px;
  font-family: sans-serif;
  white-space: nowrap;
}

.left .name span {
  color: var(--secondary-color);
}

.left h2 {
  font-size: 60px;
  font-family: sans-serif;
}

.left .txt {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
}

.left div {
  padding: 15px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 150px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 60%;
  height: 100%;
}

.right img {
  width: 100%;
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0 28%, 13% 0);
  height: 100%;
  object-fit: cover;
}

.pattern {
  position: absolute;
  bottom: -130px;
  left: -130px;
}
.start {
  position: absolute;
  bottom: 100px;
  left: 53%;
}

@media (max-width: 1200px) {
  .hero-section {
    flex-direction: column;
    /* height: 110vh; */
    padding-top: 80px;
    height: auto;

    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    gap: 5px;
    overflow: hidden;
  }

  .left {
    width: 60%;
    padding-left: 80px;
    padding-block: 50px;
    gap: 10px;
    height: 25%;
  }

  .left .name {
    font-size: 14px;
  }

  .left h2 {
    margin-block: 15px;
    font-size: 30px;
  }

  .left .txt {
    font-size: 12px;
    margin-bottom: 18px;
  }

  .left div {
    padding: 8px;
    width: 130px;
    height: 25px;
  }

  .right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
  }

  .right img {
    width: 70%;
    object-fit: contain;
  }

  .pattern {
    top: -30%;
    left: -15%;
  }
  .start {
    position: absolute;
    bottom: 80px;
    left: 35%;
  }
}

@media (max-width: 1000px) {
  .hero-section {
    /* height: 80vh; */

    height: auto;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    gap: 5px;
    overflow: hidden;
  }

  .left {
    width: 100%;
    padding-left: 80px;
    padding-block: 50px;
    gap: 10px;
    height: 40%;
  }

  .left .name {
    font-size: 14px;
  }

  .left h2 {
    margin-block: 15px;
    font-size: 30px;
  }

  .left .txt {
    font-size: 12px;
    margin-bottom: 18px;
  }

  .left div {
    padding: 8px;
    width: 130px;
    height: 25px;
  }

  .right {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: end;
  }

  .right img {
    width: 70%;
    height: 100%;
    object-fit: cover;
  }

  .pattern {
    bottom: 10%;
    left: -25%;
  }
  .start {
    position: absolute;
    bottom: 80px;
    left: 35%;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding-top: 120px;
    height: auto;

    /* height: 90vh; */
    margin: 0 auto;
    gap: 5px;
    overflow: hidden;
  }

  .left {
    width: 90%;
    padding: 20px;
    gap: 10px;
    height: 60%;
    margin: 0 auto;
  }

  .left.name {
    font-size: 14px;
  }

  .left h2 {
    margin-block: 15px;
    font-size: 30px;
  }

  .left.txt {
    font-size: 12px;
    margin-bottom: 18px;
  }

  .left div {
    padding: 10px;
    width: 100px;
    height: 20px;
  }

  .right {
    width: 100%;
    height: 40%;
    display: flex;
  }

  .right img {
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  .pattern {
    bottom: 10%;
    left: -30%;
  }

  .start {
    position: absolute;
    bottom: 60px;
    left: 35%;
  }
}

@media (max-width: 480px) {
  .hero-section {
    /* height: 100vh; */
    height: auto;

    width: 100%;
    gap: 5px;
    overflow: hidden;
  }

  .left {
    width: 100%;
    gap: 0px;
    height: 50%;
    text-overflow: ellipsis;
  }

  .left.name {
    font-size: 12px;
  }

  .left h2 {
    margin-block: 15px;
    font-size: 20px;
  }

  .left.txt {
    font-size: 10px;
    margin-bottom: 14px;
  }

  .left div {
    padding: 10px;
    width: 80px;
    height: 15px;
  }

  .right {
    width: 100%;
    height: 30%;
    display: flex;
  }

  .right img {
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  .pattern {
    bottom: 0%;
    left: -50%;
  }

  .start {
    position: absolute;
    bottom: 60px;
    left: 20%;
  }
}
