.evolution-container {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
  cursor: default;
}

.evolution-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Increased opacity to make it darker */
  display: flex;
  justify-content: center;
  align-items: center;
}

.evolution-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.evolution-left {
  width: 50%;
  padding-left: 100px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.evolution-head {
  font-size: 40px;
  font-weight: bold;
}

.evolution-txt {
  margin-block: 20px;
  line-height: 22px;
  letter-spacing: 1px;
}

.evolution-btns {
  display: flex;
  gap: 20px;
}

.evolution-btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 10px;
  gap: 10px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.evolution-icon {
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.evolution-call {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.evolution-call:hover {
  color: var(--primary-color);
}

.evolution-right {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  color: black;
  width: 400px;
  border: 1px solid black;
  box-shadow: 0px 0px 20px 20px black;
  border-radius: 10px;
  width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.form-head {
  font-size: 20px;
  color: var(--primary-color);
  width: 100%;
}

.form-title {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.two-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

textarea {
  resize: none;
}

.form-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  width: max-content;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .evolution-container {
    height: 100vh;
  }
  .evolution-head {
    font-size: 40px;
  }

  .evolution-left {
    padding-top: 30px;
    padding: 20px;
    justify-content: center;
  }

  .evolution-content {
    justify-content: center;
  }

  .evolution-right {
    padding: 20px;
    margin-right: 0px;
  }
  .form {
    align-items: center;
  }
  .input {
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .evolution-left {
    width: 50%;
  }
  .evolution-right {
    width: 40%;
  }
  .evolution-head {
    font-size: 30px;
  }
  .evolution-txt {
    line-height: 18px;
  }
}

@media (max-width: 750px) {
  .evolution-container {
    height: 120vh;
  }

  .evolution-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .evolution-left,
  .evolution-right {
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .evolution-head {
    font-size: 30px;
  }

  .evolution-txt {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
  }
}

@media (max-width: 450px) {
  .evolution-container {
    height: 120vh;
  }

  .evolution-content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .evolution-left {
    padding-inline: 10px;
  }

  .evolution-head {
    font-size: 20px;
  }

  .evolution-txt {
    font-size: 12px;
  }

  .evolution-right {
    margin-right: 0px;
    margin-top: 20px;
    padding-block: 20px;
    padding: 20px;
  }

  .form-inputs {
    width: 97%;
  }

  .input {
    padding: 8px 10px;
  }
}

@media (max-width: 350px) {
  /* Add any additional styling for smaller screens */
}
