.cyber-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: auto;
  align-items: center;
  opacity: 0.9;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.star-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
  color: var(--primary-color);
}

.cyber-left {
  width: 50%;
  padding-block: 20px;
  padding-left: 30px;
  display: flex;
  gap: 30px;
}

.cyber-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.left-up {
  width: 100%;
}

.cyber-left .left-down-img {
  margin: auto;
  margin-top: 15px;
  /* height: 200px; */
  width: 70%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cyber-left .left-down .no {
  font-size: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cyber-left .left-right {
  margin-top: 50px;
  height: auto;
}

.cyber-left .left-right img {
  border-radius: 15px;
  object-fit: cover;
  height: 100%;
}

.cyber-right {
  font-family: sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 30px;
}

.cyber-right .head {
  color: var(--primary-color);
  font-size: 22px;
}

.cyber-right h3 {
  font-size: 45px;
  opacity: 0.9;
}

.cyber-right .txt {
  font-size: 15px;
  line-height: 22px;
}

.cyber-right .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cyber-right .btns .cyber-btn {
  display: flex;
  width: 49%;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
  color: var(--secondary-color);
  height: 60px;
}

.cyber-right .detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.cyber-right .detail .det {
  display: flex;
  width: 49%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cyber-right .detail .det .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px;
  gap: 10px;
}

.cyber-right .detail .det .per {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.count-no {
  font-size: 30px;
}

.cyber-right .detail .det p {
  letter-spacing: 1px;
  line-height: 22px;
}

.count-txt {
  font-size: 60px;
}

.cyber-left img {
  transition: transform 0.3s ease-in-out;
}

.cyber-left img:hover {
  transform: scale(1.1);
}

.cyber-left .left-down-img {
  margin: auto;
  margin-top: 15px;
  width: 80%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cyber-left .left-right img {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cyber-left .left-right img:hover {
  transform: scale(1.1);
}

@media (max-width: 1400px) {
  img {
    width: 40%;
  }
}

@media (max-width: 1300px) {
  .cyber-container {
    gap: 20px;
    padding: 20px;
  }

  .cyber-left {
    padding: 10px;
    justify-content: flex-start;
    gap: 10px;
    width: 40%;
    overflow: hidden;
  }

  .cyber-right {
    padding-right: 10px;
  }

  img {
    width: 30%;
  }

  .cyber-left .left-down {
    width: 100%;
  }

  .cyber-left .left-right {
    margin-right: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 1000px) {
  .cyber-container {
    padding: 0px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cyber-left {
    width: 70%;
    gap: 30px;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }

  img {
    width: 100%;
  }

  .cyber-left .left-down {
    width: 100%;
  }

  .cyber-right {
    width: 70%;
    padding: 0px;
    height: 30%;
    gap: 10px;
  }

  .cyber-left .left-down-img {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .cyber-container {
    gap: 20px;
  }
  .cyber-left {
    height: 35%;
    align-items: center;

    /* change if in row */
    flex-direction: column;
  }

  .cyber-left .left-down p {
    text-align: center;
  }
  .cyber-left .left-down .no {
    font-size: 40px;
  }
  .count-txt {
    font-size: 40px;
  }

  .cyber-right .detail .det .per {
    font-size: 20px;
  }

  .count-no {
    font-size: 20px !important;
  }

  .cyber-left .left-right {
    margin-top: 0px;
  }
  .cyber-right {
    width: 80%;
    gap: 10px;
  }
  .cyber-right .txt {
    font-size: 16px;
    line-height: 18px;
  }

  .cyber-right .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .cyber-right .btns .cyber-btn {
    display: flex;
    width: 49%;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
    color: var(--secondary-color);
    height: 60px;
  }

  .cyber-right .detail {
  }

  .cyber-right .detail .det p {
    letter-spacing: 0px;
    line-height: 20px;
  }

  .cyber-left .left-down-img {
    width: 80%;
  }

  .cyber-left .left-right {
    height: 100%;
    width: 100%;
  }
  .cyber-left .left-right img {
    box-shadow: none;
    object-fit: cover;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .cyber-container {
    width: 100%;
  }
  .count-txt {
    font-size: 30px !important;
  }
}
