.project-container {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-description {
    text-align: center;
    margin-top: 20px;
}

.project-description p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
}

.read-more-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-button:hover {
    background-color: #0056b3;
}
